<a href="https://colab.research.google.com/github/mhz1123/internship/blob/master/ml_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1

1. Importing the required libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx','Data')

In [ ]:
data.head(10)

In [ ]:
data.tail(10)

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.shape

In [ ]:
data.isnull().sum()

Step 2

Checking, if there is anything to clean in the data

dropping irrelevant columns

In [ ]:
exp=data['Experience']
age = data['Age']
correlation= exp.corr(age)
correlation

very high correlation in age and experience columns hence droppping the experience column as it is kind of use less in this case.
And also id column as it does help the model either

In [ ]:
data = data.drop(['ID','Experience'],axis=1)
data.head()

Step 3

EDA

In [16]:
data.apply(lambda x: len(x.unique()))

Age                    45
Income                162
ZIP Code              467
Family                  4
CCAvg                 108
Education               3
Mortgage              347
Personal Loan           2
Securities Account      2
CD Account              2
Online                  2
CreditCard              2
dtype: int64